{% extends "base.html" %}

{% block content %}

<hr>



{% for blog in blogs %}
  <div class="blog">
    <div class="blog-title">{{ blog.title }}</div>
    <div class="blog-body">{{ blog.body }}</div>
  </div>
{% endfor %}
<hr>
<a href="/newpost">Link?</a>

<!-- <form method="post">
  <label>
    <div>title</div>
    <input type="text" name="title" value={{ title }}>
  </label>

  <label>
    <div>body</div>
    <textarea name="body">{{ body }}</textarea>
  </label>

  <div class="error">{{ error }}</div>
  <input type="submit" value="Blog Me!">
</form> -->

{% endblock %}
